/* Custom select */
/* Read the article: http://tympanus.net/codrops/2014/07/10/inspiration-for-custom-select-elements/ */
/* Demo: http://tympanus.net/Development/SelectInspiration/ */
/* GitHub: https://github.com/codrops/SelectInspiration */

/* Custom select skin: fullscreen color picker (adjusted for fullscreen form) */
div.cs-skin-boxes {
	background: transparent;
	font-size: 0.65em;
	font-weight: 700;
	max-width: 300px;
	z-index: 2000;
	color: #fff;
}

@media screen and (max-width: 30em) {
	div.cs-skin-boxes { font-size: 1em; }
}

.cs-skin-boxes > span {
	border: 3px solid #292c30;
	border-radius: 5px;
	width: 150px;
	height: 140px;
	font-size: 0.5em;
	padding: 0 0 0 10px;
	background: #555b64;
}

div.cs-skin-boxes:focus > span {
	box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
}

.cs-skin-boxes > span::before {
	content: '';
	display: block;
	padding-top: 110px;
	margin-left: -10px;
	box-shadow: 0 25px 0 #292c30, inset 0 -10px #292c30;
}

.cs-skin-boxes > span::after,
.cs-skin-boxes.cs-active > span::after {
	top: auto;
	-webkit-transform: none;
	transform: none;
}

.cs-skin-boxes .cs-options {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	background: #3b3f45;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-boxes.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-boxes .cs-options ul {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 10px;
}

.cs-skin-boxes .cs-options li {
	width: 20%;
	height: 25%;
	float: left;
	position: relative;
	cursor: pointer;
	border-radius: 14px;
	overflow: hidden;
	opacity: 0;
	color: rgba(255,255,255,0.6);
	border: 10px solid transparent;
	background-clip: padding-box;
	-webkit-transform: scale3d(0.8,0.8,1);
	transform: scale3d(0.8,0.8,1);
	box-shadow: inset 0 -6em 0 -2em #282b30, inset 0 -1px 1px #000;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li { box-shadow: none; border-width: 3px; border-radius: 8px;}
}

.cs-skin-boxes.cs-active .cs-options li {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(2) {
	-webkit-transition-delay: 0.01s;
	transition-delay: 0.01s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(3) {
	-webkit-transition-delay: 0.02s;
	transition-delay: 0.02s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(4) {
	-webkit-transition-delay: 0.03s;
	transition-delay: 0.03s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(5) {
	-webkit-transition-delay: 0.04s;
	transition-delay: 0.04s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(6) {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(7) {
	-webkit-transition-delay: 0.06s;
	transition-delay: 0.06s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(8) {
	-webkit-transition-delay: 0.07s;
	transition-delay: 0.07s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(9) {
	-webkit-transition-delay: 0.08s;
	transition-delay: 0.08s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(10) {
	-webkit-transition-delay: 0.09s;
	transition-delay: 0.09s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(11) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(12) {
	-webkit-transition-delay: 0.11s;
	transition-delay: 0.11s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(13) {
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(14) {
	-webkit-transition-delay: 0.13s;
	transition-delay: 0.13s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(15) {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(16) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(17) {
	-webkit-transition-delay: 0.16s;
	transition-delay: 0.16s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(18) {
	-webkit-transition-delay: 0.17s;
	transition-delay: 0.17s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(19) {
	-webkit-transition-delay: 0.18s;
	transition-delay: 0.18s;
}

.cs-skin-boxes.cs-active .cs-options li:nth-child(20) {
	-webkit-transition-delay: 0.19s;
	transition-delay: 0.19s;
}

.cs-skin-boxes .cs-options li.cs-selected::after {
	content: '\2714';
	color: rgba(0,0,0,0.1);
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
	transform: translate3d(-50%,-50%,0) translate3d(0,-1em,0);
}

.cs-skin-boxes .cs-options li.cs-selected span::after {
	content: '';
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options li.cs-selected::after { 
		-webkit-transform: translate3d(-50%,-50%,0);
		transform: translate3d(-50%,-50%,0);
	}
}

.cs-skin-boxes .cs-options li.color-588c75 {
	background-color: #588c75;
}

.cs-skin-boxes .cs-options li.color-b0c47f {
	background-color: #b0c47f;
}

.cs-skin-boxes .cs-options li.color-f3e395 {
	background-color: #f3e395;
}

.cs-skin-boxes .cs-options li.color-f3ae73 {
	background-color: #f3ae73;
}

.cs-skin-boxes .cs-options li.color-da645a {
	background-color: #da645a;
}

.cs-skin-boxes .cs-options li.color-79a38f {
	background-color: #79a38f;
}

.cs-skin-boxes .cs-options li.color-c1d099 {
	background-color: #c1d099;
}

.cs-skin-boxes .cs-options li.color-f5eaaa {
	background-color: #f5eaaa;
}

.cs-skin-boxes .cs-options li.color-f5be8f {
	background-color: #f5be8f;
}

.cs-skin-boxes .cs-options li.color-e1837b {
	background-color: #e1837b;
}

.cs-skin-boxes .cs-options li.color-9bbaab {
	background-color: #9bbaab;
}

.cs-skin-boxes .cs-options li.color-d1dcb2 {
	background-color: #d1dcb2;
}

.cs-skin-boxes .cs-options li.color-f9eec0 {
	background-color: #f9eec0;
}

.cs-skin-boxes .cs-options li.color-f7cda9 {
	background-color: #f7cda9;
}

.cs-skin-boxes .cs-options li.color-e8a19b {
	background-color: #e8a19b;
}

.cs-skin-boxes .cs-options li.color-bdd1c8 {
	background-color: #bdd1c8;
}

.cs-skin-boxes .cs-options li.color-e1e7cd {
	background-color: #e1e7cd;
}

.cs-skin-boxes .cs-options li.color-faf4d4 {
	background-color: #faf4d4;
}

.cs-skin-boxes .cs-options li.color-fbdfc9 {
	background-color: #fbdfc9;
}

.cs-skin-boxes .cs-options li.color-f1c1bd {
	background-color: #f1c1bd;
}

.cs-skin-boxes .cs-options span {
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

@media screen and (max-width: 30em) {
	.cs-skin-boxes .cs-options span { display: none; }
}

.cs-skin-boxes .cs-options li span:hover,
.cs-skin-boxes li.cs-focus span,
.cs-skin-boxes li.cs-selected span {
	color: #fff;
}
.fs-form-wrap{
	position: relative;
}
.fs-form-wrap:after{
	content: "";
	position: absolute;
	background: url("../img/santa.svg") no-repeat;
	background-position: bottom ;
	height: 80%;
	width: 50%;
	right: -8%;
	z-index: -1001;
	opacity: 0.18;
}
.fs-title{
	display:flex;
}
.santa{
	padding-left:20px;
}
.santa svg{
	height: 40px;
	width: 40px;
}
.container{
	overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
	.fs-title{
		padding-top:100px;
	}
	.fs-form-wrap:after{
		background-position: bottom right;
		height: 80%;
		width: 80% !important;
		right: -8%;
		/* opacity: 0.1; */
	}
}
@media screen and (max-width: 991px) {
	.santa svg{
		height: 30px;
		width: 30px;
	}
}
@media screen and (max-width: 500px) {
	.fs-form-wrap:after{
	background-position: bottom right;
	background: url("../img/santa_small.svg") no-repeat;
	left: -8%;
	bottom: -30%;
	opacity: 0.1;
	}
}
/*section containers*/
.section_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 576px){
    .section_container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .section_container {
        max-width: 842px;
    }
}
@media (min-width: 1600px){
    .section_container {
        /* max-width: 1250px; */
        max-width: 900px;
    }
}
.santa_header{
	padding-top:64px;
}
.santa_header .santa_title{
	color: #444444;
	font-family: Avenir;
	font-style: normal;
	font-weight: 500;
	/* margin-bottom: 0.3rem; */
	font-size: 24px;
	line-height: 25px;
}
.santa_header .santa_sub_title{
	font-family: Avenir;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	margin-bottom: 0.6rem;
	line-height: 22px;
	color: #444444;
}
.santa_header .santa_body{
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	max-width: 55%;
	font-size: 16px;
	line-height: 21px;
	color: #666666;
}
.number_cards{
	margin-top:40px;
	display: -moz-grid;
	display: grid;
	grid-gap: 25px;
	grid-template-rows: auto;
	grid-template-columns: repeat(7, 1fr);
	padding-bottom: 80px;
	padding-left:0;
	list-style-type: none;
}

.number_cards input[type="radio"]:checked+label{
  background: yellow !important;
}
.number_cards input[type="radio"]{
	position: absolute;
	top:-5000px;
}
.number_cards label{
	background: #2154B7;
	border: 1px solid #2154B7;
	box-sizing: border-box;
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
	font-size: 36px;
	padding:20px;
	width: 100%;
    text-align: center;
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s;
}
.number_cards label:hover{
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s; 
	border: 1px solid #0E347D;
	background: #0E347D;
}
.number_cards .label:focus{
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s; 
	border: 1px solid #0E347D;
	outline: none;
	box-shadow: none;

}
.number_cards label.selected{
	border: 1px solid #F3F3F3;
	background: #F3F3F3;
	color:#949494;
}
.number_cards label.selected:focus{
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s; 
	border: 1px solid #F3F3F3;
	outline: none;
	box-shadow: none;

}
.santa_container{
	position: relative;
}
.hide_submit{
	display: none;
}
.submit{
	position: -webkit-sticky;
	position: sticky;
	width:100%;
	background: hsl(220, 69%, 98%);
	border-top:1px solid hsl(220, 69%, 95%);
	padding:40px;
	height: auto;
	bottom:0;
	left:0;
}
.submit .submit_btn{
	background: hsl(220, 60%, 32%);
	border: 1px solid hsl(220, 60%, 32%);
	box-sizing: border-box;
	border-radius: 9px;
	color: #fff;
	font-weight: normal;
	font-size: 1.2rem;
	padding:10px 30px;
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s;
}
.submit .submit_btn:hover{
	background: hsl(220, 69%, 42%);
	border: 1px solid hsl(220, 55%, 42%);
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s;
}
.submit .submit_btn:focus{
	box-shadow: none;
	outline: none;
	background: hsl(220, 69%, 42%);
	border: 1px solid hsl(220, 55%, 42%);
	-moz-transition:  all 0.35s;
	-webkit-transition:  all 0.35s;
	-ms-transition:   all 0.35s;
	-o-transition:  all 0.35s;
	transition:  all 0.35s;
}
.submit_container{
	display: flex;
}
.submit_container p{
	margin: 0;
	padding-right: 20px;
	align-self: center;
}
.submit_container span{
	font-weight: 500;
}
.santa_modal{
	min-height: 100vh;
	background: hsla(220, 69%, 15%, 0.6);
	background: hsla(220, 69%, 85%, 0.5);
	display: -moz-grid;
	display: grid;
	justify-content: center;
	align-content: center;
	position: relative;
}
.santa_modal:after{
	position: absolute;
	content:"";
	background: url("../img/sucess.jpg") no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	z-index: -10;
	opacity: 0.2;
}
.modal_body{
	background: #0E347D;
	text-align: center;
	color: #fff;
	padding:40px;
	border-radius: 10px;
	width:452px;
}
.modal_body .selected_no{
	font-size: 18px;
	margin-bottom: 0;
	padding: 10px 0;
}
.underline{
	border-top:1px solid #fff;
	width: 35%;
	margin: auto;
	
}
.picked_person{
	margin-bottom: 0;
	padding-bottom: 10px;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	font-weight: 300;
	font-size: 28px;
	line-height: 33px;
	color: #E6EFFF;
}
.instruction{
	font-size: 14px;
	margin-bottom: 0;
	font-weight: 300;
	padding: 15px 0;
	font-family: Avenir;
	font-style: normal;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	width:300px;
	margin: auto;
color: #FFF4F4;
}
@media screen and (max-width: 991px) {
	.number_cards label {
		font-size: 26px;
	}
}
@media screen and (max-width: 767px) {
	.submit_btn span {
		display: none;
	}
	.number_cards {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media screen and (max-width: 500px) {
	.number_cards {
		grid-template-columns: repeat(4, 1fr);
	}
	.submit{
		padding: 40px 20px;
	}
}
@media screen and (max-width: 425px) {
	.modal_body{
		width:400px;
		padding: 20px 10px;
	}
	.submit{
		padding: 40px 10px;
	}
	.santa_header .santa_body {
		max-width: 100%;
	}
}
@media screen and (max-width: 415px) {
	.modal_body{
		width:370px;
	}
	.number_cards {
		grid-template-columns: repeat(3, 1fr);
	}
	.submit_container {
		display: block;
		text-align: center;
	}
	.submit_container p {
		margin: 0;
		padding-right: 0px;
	}
	.submit_btn span {
		display: inline;
	}
	.submit p{
		padding-bottom: 5px;
	}
}
@media screen and (max-width: 375px) {
	.modal_body{
		width:310px;
	}
	.picked_person{font-size: 26px;}
	.instruction{
		width: 280px;
	}
}

